ps-simulator-workflow.json
{
  "name": "[Automatização] Simulador PS",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0c964d3f-fe8b-4c4f-be83-30ed7baf3d48",
              "leftValue": "={{ $binary.data }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "7ea54445-2554-451a-996a-c9e30b2ca1ee",
              "leftValue": "={{ $binary.data.fileExtension }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "b68b6298-6b3f-4a50-a70c-56d75bbbdd8a",
              "leftValue": "={{  $binary.data.fileSize.match(/\\d+/g)[0].toNumber() }}",
              "rightValue": 1000,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -256,
        1616
      ],
      "id": "5999fbb4-316c-44bf-b5bf-912f34db031c",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "LpVuK3Zozwuipa5bp",
          "mode": "list",
          "cachedResultName": "LinkedIn Profile Scraper + Email ✅ No Cookies (harvestapi/linkedin-profile-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/LpVuK3Zozwuipa5bp/input"
        },
        "customBody": "={\n\"profileScraperMode\": \"Profile details no email ($4 per 1k)\",\n \"urls\": {{ $input.all().map(item => item.json.) }} \n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -160,
        272
      ],
      "id": "f593190a-f6e6-40dd-93e0-4e3373cbc40e",
      "name": "Run an Actor and get dataset",
      "credentials": {
        "apifyApi": {
          "id": "rW1eSEfhTJTcrhrP",
          "name": "Karlla - Apify"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## Inicia via requisição\n\nPermitindo que possa ser realizada via Plataforma PdA",
        "height": 400,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3712,
        624
      ],
      "typeVersion": 1,
      "id": "ee7d389a-b2a6-4de4-8447-0b94ecd817f7",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 5,
              "minute": 2
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "18Xm71c1EoCVk990sSXNBi1zJ1Qa8cMULs-uUXXaZnx8",
          "mode": "list",
          "cachedResultName": "[N8N] [Simulador de PS 2025.1] - Vaga Pessoa Desenvolvedora Júnior Full-stack (respostas)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18Xm71c1EoCVk990sSXNBi1zJ1Qa8cMULs-uUXXaZnx8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18Xm71c1EoCVk990sSXNBi1zJ1Qa8cMULs-uUXXaZnx8/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -3552,
        800
      ],
      "id": "5e079f4a-c06d-4352-b285-c5203061cc82",
      "name": "PdA - Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "YigrgbY1s1NrG6wJ",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "={\n  \"type\": \"object\",\n  \"properties\": {\n    \"sections\": {\n      \"type\": \"object\",\n      \"description\": \"Avaliação detalhada de cada regra\",\n      \"properties\": {\n        \"photo\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"status\": { \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"] },\n            \"feedback\": { \"type\": \"string\" }\n          },\n          \"required\": [\"status\", \"feedback\"]\n        },\n        \"custom_url\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"status\": { \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"] },\n            \"feedback\": { \"type\": \"string\" }\n          },\n          \"required\": [\"status\", \"feedback\"]\n        },\n        \"headline\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"status\": { \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"] },\n            \"feedback\": { \"type\": \"string\" }\n          },\n          \"required\": [\"status\", \"feedback\"]\n        },\n        \"cover_image\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"status\": { \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"] },\n            \"feedback\": { \"type\": \"string\" }\n          },\n          \"required\": [\"status\", \"feedback\"]\n        },\n        \"contact_info\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"status\": { \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"] },\n            \"feedback\": { \"type\": \"string\" }\n          },\n          \"required\": [\"status\", \"feedback\"]\n        },\n        \"summary\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"status\": { \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"] },\n            \"feedback\": { \"type\": \"string\" }\n          },\n          \"required\": [\"status\", \"feedback\"]\n        },\n        \"experience\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"status\": { \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"] },\n            \"feedback\": { \"type\": \"string\" }\n          },\n          \"required\": [\"status\", \"feedback\"]\n        },\n        \"education\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"status\": { \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"] },\n            \"feedback\": { \"type\": \"string\" }\n          },\n          \"required\": [\"status\", \"feedback\"]\n        },\n        \"licenses_and_certificates\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"status\": { \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"] },\n            \"feedback\": { \"type\": \"string\" }\n          },\n          \"required\": [\"status\", \"feedback\"]\n        },\n        \"volunteering\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"status\": { \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"] },\n            \"feedback\": { \"type\": \"string\" }\n          },\n          \"required\": [\"status\", \"feedback\"]\n        },\n        \"skills\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"status\": { \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"] },\n            \"feedback\": { \"type\": \"string\" }\n          },\n          \"required\": [\"status\", \"feedback\"]\n        },\n        \"projects_and_publications\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"status\": { \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"] },\n            \"feedback\": { \"type\": \"string\" }\n          },\n          \"required\": [\"status\", \"feedback\"]\n        },\n        \"languages\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"status\": { \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"] },\n            \"feedback\": { \"type\": \"string\" }\n          },\n          \"required\": [\"status\", \"feedback\"]\n        }\n      },\n      \"required\": [\"photo\", \"custom_url\", \"headline\", \"cover_image\", \"contact_info\", \"summary\", \"experience\", \"education\", \"licenses_and_certificates\", \"volunteering\", \"skills\", \"projects_and_publications\", \"languages\"]\n    },\n    \"general_comments\": {\n      \"type\": \"string\",\n      \"description\": \"Comentários gerais sobre pontos de destaque e melhoria.\"\n    }\n  },\n  \"required\": [\"sections\", \"general_comments\"]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2368,
        784
      ],
      "id": "739aa67e-8a27-46ef-a415-7df5eafb35ec",
      "name": "Structured Output Parser2",
      "executeOnce": false
    },
    {
      "parameters": {
        "content": "## Gera a correção via AI (get text from google docs)\n\n1. Gera a correção, via AI usando `instructions` e passando o Currículo via `user prompt`.\n2. Salva os dados do workflow, em uma memória simples, permitindo o acesso aos dados gerados e posteriormente gerar insights de melhorias e caching.\n3. Garante que o prompt retorne os dados de correção do currículo estruturado em JSON.",
        "height": 768,
        "width": 912,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1712,
        384
      ],
      "typeVersion": 1,
      "id": "40b3af62-6028-4ad8-ba25-040cf276f99d",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "model": "z-ai/glm-4.5-air:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1952,
        864
      ],
      "id": "806d7421-0e30-478d-8ca5-9810fc6f541b",
      "name": "OpenRouter2",
      "credentials": {
        "openRouterApi": {
          "id": "59X7gTvyasnWiggG",
          "name": "Karlla - OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "model": "groq/compound-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2336,
        992
      ],
      "id": "0b8e40e9-d7de-4904-b5de-17a69e0e789a",
      "name": "Groq2",
      "credentials": {
        "groqApi": {
          "id": "2eEA22JnLOc8VUvC",
          "name": "Karlla - Groq"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2128,
        864
      ],
      "id": "94472877-82cf-4bd5-942f-bf086ade3b0f",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=**DADOS DO linkedin:**\n{{ $json.toString() }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "# Role (Papel)\n\nVocê é um especialista em Carreira e Tech Recruiter do projeto \"Programadores do Amanhã\". Sua função é analisar perfis de LinkedIn de estudantes, cruzando as informações com os Guias oficiais da instituição.\n\n## Task (Tarefa)\n\nReceba os dados do perfil do aluno, valide item a item e gere um JSON estrito contendo a avaliação.\n\n## Knowledge Base (Regras de Validação)\n\n1. **Foto**: Profissional, fundo neutro, boa iluminação.\n2. **URL**: Personalizada (ex: /in/nome-sobrenome).\n3. **Título**: Área + Techs (ex: Dev Front-end | React). Sem \"Em busca de recolocação\".\n4. **Capa**: Relacionada à tecnologia/valores. Não pode ser padrão/vazia.\n5. **Resumo**: 1ª pessoa, storytelling, tecnologias e objetivos.\n6. **Experiência**: Foco em resultados e ferramentas. Verbos de ação.\n7. **Formação/Cursos**: Dados completos e verídicos.\n8. **Competências**: Hard e Soft skills relevantes.\n\n### Output Specification (Especificação de Saída)\n\n**SCHEMA DE SAÍDA ESTRITO (JSON puro, sem texto adicional ou formatação markdown):**\n\n```json\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"sections\": {\n      \"type\": \"object\",\n      \"description\": \"Avaliação detalhada de cada regra\",\n      \"properties\": {\n        \"photo\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"status\": { \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"] },\n            \"feedback\": { \"type\": \"string\" }\n          },\n          \"required\": [\"status\", \"feedback\"]\n        },\n        \"custom_url\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"status\": { \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"] },\n            \"feedback\": { \"type\": \"string\" }\n          },\n          \"required\": [\"status\", \"feedback\"]\n        },\n        \"headline\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"status\": { \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"] },\n            \"feedback\": { \"type\": \"string\" }\n          },\n          \"required\": [\"status\", \"feedback\"]\n        },\n        \"cover_image\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"status\": { \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"] },\n            \"feedback\": { \"type\": \"string\" }\n          },\n          \"required\": [\"status\", \"feedback\"]\n        },\n        \"contact_info\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"status\": { \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"] },\n            \"feedback\": { \"type\": \"string\" }\n          },\n          \"required\": [\"status\", \"feedback\"]\n        },\n        \"summary\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"status\": { \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"] },\n            \"feedback\": { \"type\": \"string\" }\n          },\n          \"required\": [\"status\", \"feedback\"]\n        },\n        \"experience\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"status\": { \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"] },\n            \"feedback\": { \"type\": \"string\" }\n          },\n          \"required\": [\"status\", \"feedback\"]\n        },\n        \"education\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"status\": { \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"] },\n            \"feedback\": { \"type\": \"string\" }\n          },\n          \"required\": [\"status\", \"feedback\"]\n        },\n        \"licenses_and_certificates\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"status\": { \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"] },\n            \"feedback\": { \"type\": \"string\" }\n          },\n          \"required\": [\"status\", \"feedback\"]\n        },\n        \"volunteering\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"status\": { \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"] },\n            \"feedback\": { \"type\": \"string\" }\n          },\n          \"required\": [\"status\", \"feedback\"]\n        },\n        \"skills\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"status\": { \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"] },\n            \"feedback\": { \"type\": \"string\" }\n          },\n          \"required\": [\"status\", \"feedback\"]\n        },\n        \"projects_and_publications\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"status\": { \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"] },\n            \"feedback\": { \"type\": \"string\" }\n          },\n          \"required\": [\"status\", \"feedback\"]\n        },\n        \"languages\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"status\": { \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"] },\n            \"feedback\": { \"type\": \"string\" }\n          },\n          \"required\": [\"status\", \"feedback\"]\n        }\n      },\n      \"required\": [\"photo\", \"custom_url\", \"headline\", \"cover_image\", \"contact_info\", \"summary\", \"experience\", \"education\", \"licenses_and_certificates\", \"volunteering\", \"skills\", \"projects_and_publications\", \"languages\"]\n    },\n    \"general_comments\": {\n      \"type\": \"string\",\n      \"description\": \"Comentários gerais sobre pontos de destaque e melhoria.\"\n    }\n  },\n  \"required\": [\"sections\", \"general_comments\"]\n}\n\n```\n\n**REGRAS DE SAÍDA (OBRIGATÓRIAS):**\n\n* A saída deve ser **APENAS** um objeto JSON válido, seguindo exatamente o schema acima.\n* O campo `status` deve ser EXATAMENTE uma das duas strings: \"✅ De acordo com as orientações\" ou \"⚠️ Precisa de ajustes\".\n* O campo `feedback` deve ser preenchido detalhadamente quando o status for \"⚠️ Precisa de ajustes\", explicando como corrigir. Se estiver \"✅ De acordo...\", o feedback pode ser uma string vazia `\"\"` ou um elogio breve.\n* O campo `general_comments` deve resumir a análise.\n* Todo o texto da saída deve estar em **português brasileiro**.\n* Nunca exponha metadados do modelo.",
          "maxIterations": 10,
          "passthroughBinaryImages": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2096,
        592
      ],
      "id": "a10b6d7c-1a2f-4e38-856b-60040e92166b",
      "name": "Linkedin Check AI Agent",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "content": "## Get profile data\n\n- 1 request with 10 profiles\n- 10 requests per day (max) ",
        "height": 544,
        "width": 832
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -464,
        64
      ],
      "id": "20ef00b2-62f7-4f59-810d-808d296eca52",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "url": "=https://drive.google.com/uc?export=download&id={{ $json.resumeId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -592,
        1504
      ],
      "id": "cba8bb71-0db0-4a7f-9759-197e2b1a2a18",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Curriculo:\n{{ $json.toJsonString() }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "# Role (Papel)\n\nVocê é um especialista em Carreira e Tech Recruiter do projeto \"Programadores do Amanhã\". Sua função é analisar currículos de estudantes, cruzando as informações com os Guias oficiais da instituição.\n\n## Task (Tarefa)\n\nReceba os dados do currículo do aluno, valide item a item e gere um JSON estrito contendo a avaliação.\n\n## Knowledge Base (Regras de Validação)\n\n### 📋 Cabeçalho (identificação)\n\n- **Nome**: Completo e profissional (evitar apelidos)\n- **Contato**: Deve conter celular (com DDD) e e-mail profissional (sem termos infantis ou apelidos)\n- **Localização**: Apenas Cidade/Estado (não incluir endereço completo/CEP por segurança)\n- **Links**: LinkedIn e GitHub devem ser hiperlinks clicáveis. O link do LinkedIn deve estar limpo (sem números aleatórios no final)\n\n### 🎯 Objetivo\n\n- **Especificidade**: Deve ser uma única linha indicando o cargo desejado (ex: \"Desenvolvedor Front-end Junior\")\n- **Erro comum**: Não deve ser um texto motivacional ou genérico como \"Quero aprender\"\n- **Campo deve existir e estar preenchido**\n\n### 🤏 Resumo\n\n- **Extensão**: Rigorosamente entre 3 a 5 linhas\n- **Conteúdo**: Deve conter o tempo de estudo/experiência, as principais tecnologias (stack) e uma breve menção a soft skills ou conquistas acadêmicas relevantes\n- **Tom**: Escrito em primeira pessoa\n\n### 🎓 Educação\n\n- **Destaque PDA**: A formação no \"Programadores do Amanhã\" deve estar em destaque\n- **Ordem Cronológica Inversa**: Começar sempre pela formação mais recente (ex: Faculdade > PDA > Ensino Médio)\n- **Status**: Deve conter data de início e previsão de conclusão (ou \"Concluído\")\n- **Dados completos**: Todos os campos obrigatórios preenchidos\n\n### 🗂️ Projetos\n\n- **Trindade de Ouro**: Cada projeto deve ter Nome, Descrição Curta, Tecnologias e Link (GitHub ou Deploy/Live Demo)\n- **Resultados**: A descrição deve focar no \"o quê\" o projeto resolve e \"como\" foi feito\n- **Tecnologias**: Devem estar destacadas visualmente ou textualmente em cada projeto\n\n### 🧑‍💻 Experiência Profissional\n\n- **Estrutura**: Cargo, Empresa e Período (Mês/Ano) claramente identificados\n- **Verbos de Ação**: As atividades devem começar com verbos de ação (ex: \"Desenvolvi\", \"Auxiliei\", \"Otimizei\")\n- **Foco em Resultados**: Se o aluno não tiver experiência formal, esta seção pode ser substituída por \"Experiências Acadêmicas\" ou \"Projetos Integradores\", seguindo a mesma estrutura de impacto\n\n### 📏 Habilidades Técnicas\n\n- **Categorização**: Separar por categorias (ex: Linguagens, Frameworks, Ferramentas)\n- **Idiomas**: Listar o idioma e o nível de proficiência (ex: Inglês - Intermediário)\n- **Hard e Soft skills**: Tanto habilidades técnicas quanto comportamentais relevantes\n\n### 📚 Cursos (Opcional)\n\n- **Relevância**: Apenas cursos que agreguem à área de tecnologia\n- **Dados**: Nome do curso e carga horária (opcional, mas recomendada para cursos técnicos)\n\n### 🔚 Conferência Final\n\n- **Gramática**: Zero erros de digitação ou português\n- **Design**: Layout limpo, sem excesso de cores ou colunas complexas que dificultem a leitura de ATS (sistemas de triagem)\n- **Formato**: O arquivo final deve ser sempre em PDF (alertar se notar menção a .doc ou .txt)\n- **Volume**: Máximo de 2 páginas (idealmente 1 página para perfis junior)\n\n## Output Specification (Especificação de Saída)\n\n**SCHEMA DE SAÍDA ESTRITO (JSON puro, sem texto adicional ou formatação markdown):**\n\n```json\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"header\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"status\": {\n          \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"]\n        },\n        \"adjustments\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"⚠️ Nome e sobrenome assim como está/estará no Linkedin\",\n              \"⚠️ Número de celular\",\n              \"⚠️ Email\",\n              \"⚠️ Cidade e estado em que resido atualmente\",\n              \"⚠️ Link do Linkedin\",\n              \"⚠️ Link do Github\",\n              \"✅ Tudo certo\"\n            ]\n          }\n        },\n        \"explain\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"status\", \"adjustments\", \"explain\"]\n    },\n    \"objective\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"status\": {\n          \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"]\n        },\n        \"adjustments\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\",\n            \"enum\": [\"⚠️ Campo inexistente\", \"✅ Tudo certo\"]\n          }\n        },\n        \"explain\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"status\", \"adjustments\", \"explain\"]\n    },\n    \"summary\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"status\": {\n          \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"]\n        },\n        \"adjustments\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"⚠️ Ultrapassa 5 linhas\",\n              \"⚠️ Não contém conquistas, interesses e metas profissionais\",\n              \"✅ Tudo certo\"\n            ]\n          }\n        },        \"explain\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"status\", \"adjustments\", \"explain\"]\n    },\n    \"education\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"status\": {\n          \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"]\n        },\n        \"adjustments\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"⚠️ Formação no Programadores do Amanhã\",\n              \"⚠️ Informações sobre meu ensino médio\",\n              \"⚠️ Graduação ou curso técnico\",\n              \"⚠️ Ordem cronológica\",\n              \"✅ Tudo certo\"\n            ]\n          }\n        },\n        \"explain\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"status\", \"adjustments\", \"explain\"]\n    },\n    \"projects\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"status\": {\n          \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"]\n        },\n        \"adjustments\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"⚠️ Descrição, resultados e link de acesso\",\n              \"⚠️ Tecnologias utilizadas em cada um deles destacadas\",\n              \"✅ Tudo certo\"\n            ]\n          }\n        },\n        \"explain\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"status\", \"adjustments\", \"explain\"]\n    },\n    \"professional_experience\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"status\": {\n          \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"]\n        },\n        \"adjustments\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"⚠️ Cargo, nome da empresa e duração\",\n              \"⚠️ Descrição das atividades realizadas, com destaque de resultados e conquistas\",\n              \"✅ Tudo certo\"\n            ]\n          }\n        },\n        \"explain\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"status\", \"adjustments\", \"explain\"]\n    },\n    \"technical_skills\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"status\": {\n          \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"]\n        },\n        \"adjustments\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"⚠️ Linguagens e frameworks\",\n              \"⚠️ Nível de conhecimento em idioma estrangeiro\",\n              \"✅ Tudo certo\"\n            ]\n          }\n        },\n        \"explain\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"status\", \"adjustments\", \"explain\"]\n    },\n    \"courses\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"status\": {\n          \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"]\n        },\n        \"adjustments\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\",\n            \"enum\": [\"⚠️ Título do Curso\", \"⚠️ Carga horária\", \"✅ Tudo certo\"]\n          }\n        },\n        \"explain\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"status\", \"adjustments\", \"explain\"]\n    },\n    \"final_review\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"status\": {\n          \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"]\n        },\n        \"adjustments\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"⚠️ Revisar o português\",\n              \"⚠️ Diminuir número de páginas\",\n              \"Outro: (explique)\",\n              \"✅ Tudo certo\"\n            ]\n          }\n        },\n        \"explain\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"status\", \"adjustments\", \"explain\"]\n    }\n  },\n  \"required\": [\n    \"header\",\n    \"objective\",\n    \"summary\",\n    \"education\",\n    \"projects\",\n    \"professional_experience\",\n    \"technical_skills\",\n    \"courses\",\n    \"final_review\"\n  ]\n}\n```\n\n**INSTRUÇÕES DE LÓGICA DE AVALIAÇÃO (OBRIGATÓRIAS):**\n\n- Para cada campo, analise se o conteúdo atende aos critérios da Knowledge Base.\n- Caso o campo esteja ausente ou incompleto (ex: falta o link do GitHub no cabeçalho ou o resumo tem 7 linhas), marque obrigatoriamente como `⚠️ Precisa de ajustes` e liste o motivo exato no array `adjustments` usando os termos do formulário.\n- O campo `adjustments` deve:\n  - Se `status` for `⚠️ Precisa de ajustes`: conter um ou mais itens da lista de problemas para aquela seção (NUNCA incluir \"✅ Tudo certo\")\n  - Se `status` for `✅ De acordo com as orientações`: conter APENAS `[\"✅ Tudo certo\"]`\n    - O campo `explain` em cada seção deve receber um texto que explica detalhadamente o porquê o status e os adjustments foram selecionados, citando exemplos concretos do currículo analisado e alinhando com as regras da Knowledge Base.\n- Todo o texto da saída deve estar em **português brasileiro**.\n- Nunca exponha metadados do modelo.\n- Não inclua campos adicionais além dos especificados no schema.\n- A saída deve ser APENAS um objeto JSON válido, sem formatação markdown, sem texto adicional antes ou depois.",
          "maxIterations": 3,
          "passthroughBinaryImages": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2672,
        1728
      ],
      "id": "cf3398a9-7fab-4355-afb5-90ec355b9cfb",
      "name": "AI Agent1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "={\n  \"type\": \"object\",\n  \"properties\": {\n    \"header\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"status\": {\n          \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"]\n        },\n        \"adjustments\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"⚠️ Nome e sobrenome assim como está/estará no Linkedin\",\n              \"⚠️ Número de celular\",\n              \"⚠️ Email\",\n              \"⚠️ Cidade e estado em que resido atualmente\",\n              \"⚠️ Link do Linkedin\",\n              \"⚠️ Link do Github\",\n              \"✅ Tudo certo\"\n            ]\n          }\n        },\n        \"explain\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"status\", \"adjustments\", \"explain\"]\n    },\n    \"objective\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"status\": {\n          \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"]\n        },\n        \"adjustments\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\",\n            \"enum\": [\"⚠️ Campo inexistente\", \"✅ Tudo certo\"]\n          }\n        },\n        \"explain\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"status\", \"adjustments\", \"explain\"]\n    },\n    \"summary\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"status\": {\n          \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"]\n        },\n        \"adjustments\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"⚠️ Ultrapassa 5 linhas\",\n              \"⚠️ Não contém conquistas, interesses e metas profissionais\",\n              \"✅ Tudo certo\"\n            ]\n          }\n        },        \"explain\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"status\", \"adjustments\", \"explain\"]\n    },\n    \"education\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"status\": {\n          \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"]\n        },\n        \"adjustments\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"⚠️ Formação no Programadores do Amanhã\",\n              \"⚠️ Informações sobre meu ensino médio\",\n              \"⚠️ Graduação ou curso técnico\",\n              \"⚠️ Ordem cronológica\",\n              \"✅ Tudo certo\"\n            ]\n          }\n        },\n        \"explain\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"status\", \"adjustments\", \"explain\"]\n    },\n    \"projects\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"status\": {\n          \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"]\n        },\n        \"adjustments\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"⚠️ Descrição, resultados e link de acesso\",\n              \"⚠️ Tecnologias utilizadas em cada um deles destacadas\",\n              \"✅ Tudo certo\"\n            ]\n          }\n        },\n        \"explain\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"status\", \"adjustments\", \"explain\"]\n    },\n    \"professional_experience\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"status\": {\n          \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"]\n        },\n        \"adjustments\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"⚠️ Cargo, nome da empresa e duração\",\n              \"⚠️ Descrição das atividades realizadas, com destaque de resultados e conquistas\",\n              \"✅ Tudo certo\"\n            ]\n          }\n        },\n        \"explain\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"status\", \"adjustments\", \"explain\"]\n    },\n    \"technical_skills\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"status\": {\n          \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"]\n        },\n        \"adjustments\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"⚠️ Linguagens e frameworks\",\n              \"⚠️ Nível de conhecimento em idioma estrangeiro\",\n              \"✅ Tudo certo\"\n            ]\n          }\n        },\n        \"explain\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"status\", \"adjustments\", \"explain\"]\n    },\n    \"courses\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"status\": {\n          \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"]\n        },\n        \"adjustments\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\",\n            \"enum\": [\"⚠️ Título do Curso\", \"⚠️ Carga horária\", \"✅ Tudo certo\"]\n          }\n        },\n        \"explain\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"status\", \"adjustments\", \"explain\"]\n    },\n    \"final_review\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"status\": {\n          \"enum\": [\"✅ De acordo com as orientações\", \"⚠️ Precisa de ajustes\"]\n        },\n        \"adjustments\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"⚠️ Revisar o português\",\n              \"⚠️ Diminuir número de páginas\",\n              \"Outro: (explique)\",\n              \"✅ Tudo certo\"\n            ]\n          }\n        },\n        \"explain\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"status\", \"adjustments\", \"explain\"]\n    }\n  },\n  \"required\": [\n    \"header\",\n    \"objective\",\n    \"summary\",\n    \"education\",\n    \"projects\",\n    \"professional_experience\",\n    \"technical_skills\",\n    \"courses\",\n    \"final_review\"\n  ]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2944,
        1920
      ],
      "id": "556aaba5-314f-4d98-9ad7-f97f1bc1f223",
      "name": "Structured Output Parser1",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Gera a correção via AI\n\n1. Gera a correção, via AI usando `instructions` e passando o Currículo (PDF transformado em Base64) via `user prompt`.\n2. Salva os dados do workflow, em uma memória simples, permitindo o acesso aos dados gerados e posteriormente gerar insights de melhorias e caching.\n3. Garante que o prompt retorne os dados de correção do currículo estruturado em JSON.",
        "height": 880,
        "width": 912,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2320,
        1440
      ],
      "typeVersion": 1,
      "id": "3bb17868-151c-4997-bb55-ff622231ce8d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2944,
        2128
      ],
      "id": "1d5ca327-ef7e-4c45-a166-4b00f9ea50cc",
      "name": "Groq1",
      "credentials": {
        "groqApi": {
          "id": "2eEA22JnLOc8VUvC",
          "name": "Karlla - Groq"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "145e5692-b22a-451c-b864-a5364d682840",
              "leftValue": "={{ $json.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "f767907a-3e9d-454f-8f89-264b05bea772",
              "leftValue": "={{ $json.numpages }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1056,
        1744
      ],
      "id": "c6e1d5e4-8b1b-4047-bb8b-3aa795681bcc",
      "name": "If4"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        304,
        1680
      ],
      "id": "34b90df7-b3fb-455f-bbd0-85fd356eea0a",
      "name": "Extract Text From PDF",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const text = $input.item.json.text\nconst numPages = $input.item.json.numpages\n\nconst textFormated = text.split(\"\\n\").join(\" \")\n\nreturn {\n  textFormated,\n  numPages\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        1728
      ],
      "id": "b8b58a96-4bc1-4e8b-b8c7-fcbc3bfddd72",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4912,
        2528
      ],
      "id": "296dbda9-82a7-4783-9326-e57ff1196a17",
      "name": "Wait1",
      "webhookId": "5ba41b84-55d5-4d2b-92fa-4f0feeb59ea8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "eb3e57a3-c608-4eb5-a5a2-b755c8ee550f",
              "leftValue": "={{ $json.ID }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "326026a3-60a7-4e93-82af-7857185c1257",
              "leftValue": "={{ $json['Endereço de e-mail'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "27d09b1e-99d9-4d42-a542-9d17335b4e87",
              "leftValue": "={{ $json['Link LinkedIn:'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "2111e903-2d79-49f9-b9a6-20cc179d7a7e",
              "leftValue": "={{ $json['Currículo:'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "330566f4-c35f-47bb-8e3f-b9eb762bb5e9",
              "leftValue": "={{ $json['Whatsapp:'] }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "9a2e62de-f6ff-4285-b4f9-fdde52e8a541",
              "leftValue": "={{ $json[\"Corrigido?\"] }}",
              "rightValue": "=\"\"",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -2912,
        800
      ],
      "id": "ce122412-0094-459d-a33b-8fdd8aa591c0",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "93a08c4e-52b7-471e-a746-f07d0bf794cc",
              "leftValue": "={{ $json.rowId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "d991215b-b7d3-480b-ae36-52a764a9ee68",
              "leftValue": "={{ $json.userName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "06bcc411-48f4-4bb4-b886-af1703fde537",
              "leftValue": "={{ $json.userEmail }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "80f216fe-77a2-4b7c-9d42-bc2cd7dbd1ae",
              "leftValue": "={{ $json.resumeId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "22e5543d-0e5c-4fe8-a4e2-3ab16b0d58bd",
              "leftValue": "={{ $json.linkedinProfileId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -976,
        1520
      ],
      "id": "576b8166-a4a9-4c13-a23e-9f55fd07e194",
      "name": "If2"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "18Xm71c1EoCVk990sSXNBi1zJ1Qa8cMULs-uUXXaZnx8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18Xm71c1EoCVk990sSXNBi1zJ1Qa8cMULs-uUXXaZnx8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Corrigido?": "True",
            "ID": "={{ $('Code in JavaScript').item.json.rowId }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "Carimbo de data/hora",
              "displayName": "Carimbo de data/hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Endereço de e-mail",
              "displayName": "Endereço de e-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nome Completo:",
              "displayName": "Nome Completo:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "E-mail:",
              "displayName": "E-mail:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Whatsapp:",
              "displayName": "Whatsapp:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cidade e Estado:  ",
              "displayName": "Cidade e Estado:  ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Currículo:",
              "displayName": "Currículo:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link LinkedIn:",
              "displayName": "Link LinkedIn:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Você está cursando ou já concluiu algum curso na área de tecnologia?",
              "displayName": "Você está cursando ou já concluiu algum curso na área de tecnologia?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Se sim, qual o curso e a instituição?",
              "displayName": "Se sim, qual o curso e a instituição?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Você já teve alguma experiência profissional como desenvolvedor?",
              "displayName": "Você já teve alguma experiência profissional como desenvolvedor?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Se sim, descreva brevemente a experiência mais relevante (empresa, período e tecnologias utilizadas):",
              "displayName": "Se sim, descreva brevemente a experiência mais relevante (empresa, período e tecnologias utilizadas):",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Marque as tecnologias com as quais você tem experiência:",
              "displayName": "Marque as tecnologias com as quais você tem experiência:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Se você pudesse escolher uma tecnologia para aprofundar seus conhecimentos agora, qual seria e por quê?",
              "displayName": "Se você pudesse escolher uma tecnologia para aprofundar seus conhecimentos agora, qual seria e por quê?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Você possui algum repositório no GitHub ou portfólio online? Se sim, compartilhe o link.",
              "displayName": "Você possui algum repositório no GitHub ou portfólio online? Se sim, compartilhe o link.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cite um projeto que você desenvolveu ou contribuiu e explique os desafios enfrentados e as soluções que encontrou.",
              "displayName": "Cite um projeto que você desenvolveu ou contribuiu e explique os desafios enfrentados e as soluções que encontrou.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Por que você quer atuar como desenvolvedor(a) Full Stack?",
              "displayName": "Por que você quer atuar como desenvolvedor(a) Full Stack?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Quais são seus principais desafios ao buscar sua primeira oportunidade ou transição de carreira para tecnologia?",
              "displayName": "Quais são seus principais desafios ao buscar sua primeira oportunidade ou transição de carreira para tecnologia?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Pretensão salarial:",
              "displayName": "Pretensão salarial:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Convite: Entrevista C",
              "displayName": "Convite: Entrevista C",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Convite: Entrevista Téc",
              "displayName": "Convite: Entrevista Téc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Corrigido?",
              "displayName": "Corrigido?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        -544
      ],
      "id": "94d47410-7262-4cb5-9ae9-86167c609094",
      "name": "Update row in sheet",
      "retryOnFail": false,
      "credentials": {
        "googleApi": {
          "id": "ti5im2dhY8vSMlFa",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nfunction extractIdGoogleDrive(url) {\n  // Padrões de regex para diferentes formatos de URL do Google Drive\n  const padroes = [\n    /\\/open\\?id=([a-zA-Z0-9_-]+)/,           // https://drive.google.com/open?id=ID\n    /\\/file\\/d\\/([a-zA-Z0-9_-]+)/,           // https://drive.google.com/file/d/ID/view\n    /\\/uc\\?(?:export=download&)?id=([a-zA-Z0-9_-]+)/, // https://drive.google.com/uc?id=ID\n    /\\/folders\\/([a-zA-Z0-9_-]+)/            // https://drive.google.com/drive/folders/ID\n  ];\n  \n  for (const padrao of padroes) {\n    const match = url.match(padrao);\n    if (match) {\n      return match[1];\n    }\n  }\n  \n  // Retorna null se nenhum padrão for encontrado\n  return null;\n}\n\nconst item = $input.item\n\nconst resumeId = extractIdGoogleDrive(item.json[\"Currículo:\"].trim())\nconst linkedinProfileId = item.json[\"Link LinkedIn:\"].trim()\nconst rowId = item.json['ID'].trim()\n\n  // user data\nconst userName = item.json['Nome Completo:']\nconst userEmail = item.json['E-mail:'].trim()\n\nreturn {\n  userName,\n  userEmail,\n  rowId,\n  resumeId,\n  linkedinProfileId\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1344,
        1408
      ],
      "id": "c6ff9c0e-e95f-45aa-a16e-2ff3fb39e4de",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c840c1a6-5c7c-4f9a-88a1-a98718f788a3",
              "leftValue": "={{ $input.all() }}",
              "rightValue": 2,
              "operator": {
                "type": "array",
                "operation": "lengthEquals",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -768,
        128
      ],
      "id": "a214a0f2-ed68-458c-9f12-347d68396201",
      "name": "Are there 10 items?1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ffaa501c-a1d4-473e-b32c-b139a2c83c37",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -1760,
        384
      ],
      "id": "82f976b6-e928-4e69-8b8c-4b5acbea2f2f",
      "name": "Filter1"
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1312,
        112
      ],
      "id": "3fcb21b4-ec07-48b9-8dcb-5387796a115f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c840c1a6-5c7c-4f9a-88a1-a98718f788a3",
              "leftValue": "={{$input.item}}",
              "rightValue": 1,
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1776,
        1120
      ],
      "id": "d4eb5ffd-a760-468e-a7ab-a23d799a1324",
      "name": "Input item exist?"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3360,
        1008
      ],
      "id": "919e341b-ea33-4d11-9314-896fd39b03fc",
      "name": "Wait2",
      "webhookId": "5ba41b84-55d5-4d2b-92fa-4f0feeb59ea8"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2176,
        800
      ],
      "id": "0ed088c8-d1d4-4a01-a2c9-dc24f0de341e",
      "name": "Loop in itens"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const resumeCorrection = $input.item.json\nconst userDelivery = $('Loop in itens').item.json\n\nreturn {\n  delivery: {\n    ...userDelivery\n  },\n  correction: {\n    ...resumeCorrection.output\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4000,
        2112
      ],
      "id": "198cfdd4-72ee-42f9-a186-632c9d2618fd",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "model": "z-ai/glm-4.5-air:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2576,
        2000
      ],
      "id": "5323b4fa-f627-43db-bde4-1f2aaae97d5b",
      "name": "OpenRouter1",
      "credentials": {
        "openRouterApi": {
          "id": "59X7gTvyasnWiggG",
          "name": "Karlla - OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        960,
        528
      ],
      "id": "3697de9b-817f-4aa8-8518-219f5f3c0dd5",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "54975f1d-3733-4707-be46-15ceea754b22",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1344,
        608
      ],
      "id": "297d258f-6388-4938-a62d-88c92604da47",
      "name": "If1"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18Xm71c1EoCVk990sSXNBi1zJ1Qa8cMULs-uUXXaZnx8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18Xm71c1EoCVk990sSXNBi1zJ1Qa8cMULs-uUXXaZnx8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Carimbo de data/hora",
              "displayName": "Carimbo de data/hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Endereço de e-mail",
              "displayName": "Endereço de e-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome Completo:",
              "displayName": "Nome Completo:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-mail:",
              "displayName": "E-mail:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Whatsapp:",
              "displayName": "Whatsapp:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cidade e Estado:  ",
              "displayName": "Cidade e Estado:  ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Currículo:",
              "displayName": "Currículo:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link LinkedIn:",
              "displayName": "Link LinkedIn:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Você está cursando ou já concluiu algum curso na área de tecnologia?",
              "displayName": "Você está cursando ou já concluiu algum curso na área de tecnologia?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Se sim, qual o curso e a instituição?",
              "displayName": "Se sim, qual o curso e a instituição?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Você já teve alguma experiência profissional como desenvolvedor?",
              "displayName": "Você já teve alguma experiência profissional como desenvolvedor?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Se sim, descreva brevemente a experiência mais relevante (empresa, período e tecnologias utilizadas):",
              "displayName": "Se sim, descreva brevemente a experiência mais relevante (empresa, período e tecnologias utilizadas):",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Marque as tecnologias com as quais você tem experiência:",
              "displayName": "Marque as tecnologias com as quais você tem experiência:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Se você pudesse escolher uma tecnologia para aprofundar seus conhecimentos agora, qual seria e por quê?",
              "displayName": "Se você pudesse escolher uma tecnologia para aprofundar seus conhecimentos agora, qual seria e por quê?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Você possui algum repositório no GitHub ou portfólio online? Se sim, compartilhe o link.",
              "displayName": "Você possui algum repositório no GitHub ou portfólio online? Se sim, compartilhe o link.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cite um projeto que você desenvolveu ou contribuiu e explique os desafios enfrentados e as soluções que encontrou.",
              "displayName": "Cite um projeto que você desenvolveu ou contribuiu e explique os desafios enfrentados e as soluções que encontrou.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Por que você quer atuar como desenvolvedor(a) Full Stack?",
              "displayName": "Por que você quer atuar como desenvolvedor(a) Full Stack?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quais são seus principais desafios ao buscar sua primeira oportunidade ou transição de carreira para tecnologia?",
              "displayName": "Quais são seus principais desafios ao buscar sua primeira oportunidade ou transição de carreira para tecnologia?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pretensão salarial:",
              "displayName": "Pretensão salarial:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Convite: Entrevista C",
              "displayName": "Convite: Entrevista C",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Convite: Entrevista Téc",
              "displayName": "Convite: Entrevista Téc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Corrigido?",
              "displayName": "Corrigido?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1008,
        -432
      ],
      "id": "4a7454d6-27f5-41ef-a799-fb2a0240a2bc",
      "name": "Append row in sheet",
      "credentials": {
        "googleApi": {
          "id": "ti5im2dhY8vSMlFa",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        272,
        -624
      ],
      "id": "558c14e6-c665-4d79-8ad7-c863b25bd9cf",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "278ff7a7-58ff-4d3f-a519-db3662ab31e3",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -480,
        -304
      ],
      "id": "073bfa59-d81c-4a51-8bdd-60510b7e0e10",
      "name": "If3"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1408,
        -288
      ],
      "id": "57c4edff-7b7d-49c9-83b3-b45c2ecab832",
      "name": "Send a message",
      "webhookId": "b8111b02-075a-4495-a6dd-9ac0a5e6f8e6",
      "credentials": {
        "googleApi": {
          "id": "ti5im2dhY8vSMlFa",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Extract Text From PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop in itens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor and get dataset": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PdA - Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Linkedin Check AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter2": {
      "ai_languageModel": [
        [
          {
            "node": "Linkedin Check AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq2": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "Linkedin Check AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop in itens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text From PDF": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop in itens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop in itens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop in itens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop in itens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input item exist?": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop in itens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Are there 10 items?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Are there 10 items?1": {
      "main": [
        [
          {
            "node": "Run an Actor and get dataset",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin Check AI Agent": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop in itens": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Input item exist?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Linkedin Check AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "bc3b8699-276f-4ddd-b608-9c6d2c52089b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "954b9fc910b1abc00f621bddeb239668587b55a36512b636f1604f5493a993aa"
  },
  "id": "qigfcld8qYdiGBbGBCUl9",
  "tags": []
}